<div class="p-pb-12">
    <p-toast></p-toast>
    <div class="p-grid">
        <div class="p-col-12">
            <div class="toolbar-demo card">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <div class="header-left-div">
                            <div class="header-div1">
                                <img class="header-icon" src="" alt="">
                            </div>
                            <div class="header-div2">
                                <h2>Latest top 5 news</h2>
                            </div>
                        </div>
                    </div>
                    <ng-template pTemplate="right">
                        <div class="p-d-flex">
                            <button type="button" pButton pRipple icon="pi pi-plus" (click)="addNewNewsArticle()"
                                class="p-mr-2" pTooltip="New"></button>
                        </div>
                    </ng-template>
                </p-toolbar>
            </div>
        </div>
        <div class="p-col-12 p-md-12 p-lg-12">
            <div class="card">
                <p-table #dt [value]="newsArticles" 
                    [totalRecords]="matchingRecordCount" 
                    [rows]="rowsToDisplay"
                    [paginator]="true"
                    [rowHover]="true" 
                    dataKey="id"
                    [lazy]="true" 
                    (onLazyLoad)="loadNewsArticles($event)"
                    [globalFilterFields]="['title','description','createdBy']" 
                    [rowsPerPageOptions]="[5, 10, 20, 50, 100, 500, { showAll: 'All' }]"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <input #t2 pInputText type="text" (input)="dt.filterGlobal(t2.value, 'contains')"
                                placeholder="Search keyword" />
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Title
                            </th>
                            <th>Description
                            </th>
                            <th>Category
                            </th>
                            <th>CreatedDate
                            </th>
                            <th>CreatedBy
                            </th>
                            <th>Action</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-newsArticle>
                        <tr>
                            <td><span class="p-column-title">Title</span>
                                {{newsArticle.title}}
                            </td>

                            <td><span class="p-column-title">Description</span>
                                {{newsArticle.description}}
                            </td>
                            <td><span class="p-column-title">Category</span>
                                {{newsArticle.newsCategoryName}}
                            </td>
                            <td><span class="p-column-title">CreatedDate</span>
                                {{newsArticle.createdDateTime}}
                            </td>
                            <td><span class="p-column-title">CreatedBy</span>
                                {{newsArticle.createdBy}}
                            </td>
                            <td>
                                <p-button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button p-mr-2"
                                    (click)="editNewsArticle(newsArticle)" />
                                <p-button pButton pRipple icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-mr-2"
                                    (click)="deleteNewsArticle(newsArticle)" />
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            In total there are {{newsArticles ? newsArticles.length : 0 }} news articles.
                        </div>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>